<h4>The word you picked is: <%= @word.your_choice_word %></h4>

<h3>Your current words definitions are:</h3>

<% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.your_definition %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet. Please add a definition to begin learning!</p>
  <% end %>


<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="word_definition">Create a new definition below!</label>
    <br/>
    <input id="word_definition" name="word_definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<a href="/words">Return to words list</a>